// --- fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
// === / fonts
// --- mixins
@mixin vh100 {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

// === / mixins
// --- screen size
$screen_xs_max: 575.98px;
$screen_sm_max: 767.98px;
$screen_md_max: 991.98px;
$screen_lg_max: 1199.98px;
$screen_xl_max: 1399.98px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
$screen_xxl: 1400px;
// === / screen size
// ---
$text_color: #212529;
// ===
// --- commons
* {
    box-sizing: border-box;
}

.body {
    font-family: 'Montserrat', sans-serif;
    color: $text_color;
    a,
    a:hover {
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: #fff;
    }
    small {
        font-size: 16px;
    }
    p {
        font-size: 24px;
        margin: 0;
    }
    h3 {
        font-size: 24px;
        font-weight: 500;
        margin: 0;
    }
    h2 {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
    }
    .button {
        display: block;
        border-radius: 3px;
        font-weight: 500;
        font-size: 24px;
        &.button_primary {
            padding: 12px 20px;
            background: linear-gradient(91.43deg, #FF70C7 0%, #FF9E47 28.91%, #FF7469 50.99%, #FF498B 73.59%, #FF33FE 100.92%);
            color: #fff;
        }
        &.button_secondary {
            padding: 11px 20px;
            border: 1px solid$text_color;
            color: $text_color;
        }
    }
    .container {
        max-width: 1200;
        @media (max-width: $screen_xs_max) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    @media (max-width: $screen_xs_max) {}
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (min-width: $screen_xl) {}
}

section {
    @media (max-width: $screen_xs_max) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @media (min-width: $screen_xl) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

// / === commons
// --- header
.header {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    @media (max-width: $screen_xs_max) {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 20px 0;
        .brand_label {
            font-weight: 600;
            font-size: 24px;
        }
        .munu_button {
            width: 40px;
            height: 24px;
            position: relative;
            z-index: 2;
            div {
                position: absolute;
                right: 0;
                width: 100%;
                height: 3px;
                border-radius: 3px;
                background-color: $text_color;
                transition: .3s;
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 10px;
                }
                &:nth-child(3) {
                    top: 20px;
                    width: 65%;
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 50px;
                height: 50px;
                margin-top: -25px;
                margin-left: -25px;
                border-radius: 50%;
                background-color: rgba(#FF74BF, 0.3);
                opacity: 0;
                transition: .3s;
            }
            &:active {
                &::after {
                    opacity: 1;
                    transform: scale(1.3);
                }
            }
        }
        .menu_wrap {
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100%;
            background-color: #fff;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            transform: translateX(-100vw);
            transition: .3s;
            .menu {
                li+li {
                    margin-top: 25px;
                }
                .menu_item a {
                    font-weight: bold;
                    font-size: 24px;
                    color: $text_color;
                }
            }
        }
        &.menu_opened {
            .menu_wrap {
                @include vh100();
                transform: translateX(0);
            }
            .munu_button {
                div {
                    &:nth-child(1) {
                        transform: rotate(-26deg);
                        width: 60%;
                        right: 40%;
                        top: 4px;
                    }
                    &:nth-child(2) {
                        // width: 65%;
                    }
                    &:nth-child(3) {
                        transform: rotate(26deg);
                        width: 60%;
                        right: 40%;
                        top: 16px;
                    }
                }
            }
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (min-width: $screen_xl) {}
}

// === / header
// --- section_intro
.section_intro {
    @media (max-width: $screen_xs_max) {
        padding-top: 76px;
        @include vh100;
        .intro_inner_wrap {
            transition: .3s;
        }
        .intro_text {
            h2 {
                font-size: 36px;
            }
        }
        .logo_wrap {
            position: relative;
            .img_wrap {
                width: 90px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .logo_inner_wrap {
                overflow: hidden;
                margin: 0 auto;
                height: 200px;
                width: 200px;
                position: relative;
                left: 0;
                top: 0;
                .img_wrap {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100px;
                    height: 100px;
                    margin-top: -50px;
                    margin-left: -50px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
                svg {
                    animation: rotate 50s linear infinite;
                    width: 300px;
                    height: 300px;
                    position: absolute;
                    top: calc(50% - 150px);
                    left: calc(50% - 150px);
                    overflow: hidden;
                    &:after {
                        display: block;
                        content: "hello";
                    }
                    .circle-text {
                        font: 85px Montserrat;
                        letter-spacing: 7px;
                        font-weight: 500;
                        width: 100%;
                        fill: $text_color;
                    }
                }
            }
            @keyframes rotate {
                to {
                    transform: rotate(-360deg);
                }
            }
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (min-width: $screen_xl) {}
}

// === / section_intro
// --- section_profession
.section_profession {
    @media (max-width: $screen_xs_max) {
        .card {
            margin-top: 30px;
            min-height: 280px;
            position: relative;
            cursor: pointer;
            -webkit-transition: -webkit-transform 1s;
            -webkit-transform-style: preserve-3d;
            .card_side {
                border-radius: 3px;
                margin: 0px;
                padding: 0px;
                height: 100%;
                width: 100%;
                position: absolute;
                -webkit-backface-visibility: hidden;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            }
            .card_front {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .front_top {
                    flex: auto;
                    background: rgba(255, 116, 191, 0.5);
                    padding: 20px;
                    display: flex;
                    &>div {
                        flex: 1;
                    }
                    .counter_wrap {
                        padding-right: 15px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .count {
                            line-height: .8;
                            font-weight: bold;
                            font-size: 72px;
                            color: #FFFFFF;
                        }
                        .card_btn {
                            height: 40px;
                            background: #FF74BF url(../img/svg/arrow.svg) no-repeat;
                            background-position: 90% 50%;
                            border-radius: 3px;
                        }
                    }
                    .img_wrap {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                .front_bot {
                    padding: 20px;
                    h3 {
                        margin-bottom: 10px;
                    }
                }
            }
            .card_back {
                padding: 20px;
                background: rgba(255, 116, 191, 0.5);
                -webkit-transform: rotateY( 180deg);
                ul {
                    padding-left: 1rem;
                    min-height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
            &.flipped {
                -webkit-transform: rotateY( 180deg);
            }
        }
    }
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (min-width: $screen_xl) {}
}

// === / section_profession
// --- section_steps
.section_steps {
    @media (max-width: $screen_xs_max) {}
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (min-width: $screen_xl) {}
}

// === / section_steps
// --- section_search_method
.section_search_method {
    @media (max-width: $screen_xs_max) {}
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (min-width: $screen_xl) {}
}

// === / section_search_method
// --- section_stat
.section_stat {
    @media (max-width: $screen_xs_max) {}
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (min-width: $screen_xl) {}
}

// === / section_stat
// --- section_partners
.section_partners {
    @media (max-width: $screen_xs_max) {}
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (min-width: $screen_xl) {}
}

// === / section_partners
// --- section_feedback
.section_feedback {
    @media (max-width: $screen_xs_max) {}
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (min-width: $screen_xl) {}
}

// === / section_feedback
// --- section_footer
.section_footer {
    @media (max-width: $screen_xs_max) {}
    @media (min-width: $screen_sm) and (max-width: $screen_lg_max) {}
    @media (min-width: $screen_xl) {}
}

// === / section_footer