@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  box-sizing: border-box; }

.body {
  font-family: 'Montserrat', sans-serif;
  color: #212529; }
  .body.hidden {
    overflow: hidden; }
  .body a,
  .body a:hover {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff; }
  .body small {
    font-size: 16px; }
  .body p {
    font-size: 24px;
    margin: 0; }
  .body h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0; }
  .body h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0; }
  .body .button {
    display: block;
    border-radius: 3px;
    font-weight: 500;
    font-size: 24px; }
    .body .button.button_primary {
      padding: 12px 20px;
      background: linear-gradient(91.43deg, #FF70C7 0%, #FF9E47 28.91%, #FF7469 50.99%, #FF498B 73.59%, #FF33FE 100.92%);
      color: #fff; }
    .body .button.button_secondary {
      padding: 11px 20px;
      border: 1px solid #212529;
      color: #212529; }
  .body .section_title {
    margin-bottom: 30px; }
  .body .social_bar {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px 0; }
    .body .social_bar li + li {
      margin-left: 15px; }
    .body .social_bar a {
      display: inline-flex;
      justify-content: center;
      border-radius: 50%;
      width: 50px;
      height: 50px; }
    .body .social_bar li:nth-child(1) a {
      background: #FF8A7F; }
    .body .social_bar li:nth-child(2) a {
      background: #FF9E47; }
    .body .social_bar li:nth-child(3) a {
      background: #FF74BF; }
  .body .contact_bar {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; }
    .body .contact_bar li + li {
      margin-top: 6px; }
    .body .contact_bar a {
      font-weight: 500;
      font-size: 18px;
      color: #212529; }
  .body .container {
    max-width: 1200; }
    @media (max-width: 575.98px) {
      .body .container {
        padding-left: 20px;
        padding-right: 20px; } }

@media (max-width: 575.98px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (min-width: 576px) and (max-width: 1199.98px) {
  section {
    padding-top: 70px;
    padding-bottom: 70px; } }

@media (min-width: 1200px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px; } }

.header ul {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (max-width: 575.98px) {
  .header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 0; }
    .header .brand_label {
      font-weight: 600;
      font-size: 24px; }
    .header .munu_button {
      width: 40px;
      height: 24px;
      position: relative;
      z-index: 2; }
      .header .munu_button div {
        position: absolute;
        right: 0;
        width: 100%;
        height: 3px;
        border-radius: 3px;
        background-color: #212529;
        transition: .3s; }
        .header .munu_button div:nth-child(1) {
          top: 0; }
        .header .munu_button div:nth-child(2) {
          top: 10px; }
        .header .munu_button div:nth-child(3) {
          top: 20px;
          width: 65%; }
      .header .munu_button::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        margin-top: -25px;
        margin-left: -25px;
        border-radius: 50%;
        background-color: rgba(255, 116, 191, 0.3);
        opacity: 0;
        transition: .3s; }
      .header .munu_button:active::after {
        opacity: 1;
        transform: scale(1.3); }
    .header .menu_wrap {
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100%;
      background-color: #fff;
      padding: 40px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transform: translateX(-100vw);
      transition: .3s; }
      .header .menu_wrap .menu {
        margin-top: 40px; }
        .header .menu_wrap .menu li + li {
          margin-top: 25px; }
        .header .menu_wrap .menu .menu_item a {
          font-weight: bold;
          font-size: 24px;
          color: #212529; }
    .header.menu_opened .menu_wrap {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      transform: translateX(0); }
    .header.menu_opened .munu_button div:nth-child(1) {
      transform: rotate(-45deg);
      width: 30px;
      right: 50%;
      margin-right: -15px;
      top: 11px; }
    .header.menu_opened .munu_button div:nth-child(2) {
      opacity: 0; }
    .header.menu_opened .munu_button div:nth-child(3) {
      transform: rotate(45deg);
      width: 30px;
      right: 50%;
      margin-right: -15px;
      top: 11px; } }

@media (max-width: 575.98px) {
  .section_intro {
    padding-top: 76px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100); }
    .section_intro .intro_inner_wrap {
      transition: .3s; }
    .section_intro .intro_text h2 {
      font-size: 36px; }
    .section_intro .logo_wrap {
      position: relative; }
      .section_intro .logo_wrap .img_wrap {
        width: 90px; }
        .section_intro .logo_wrap .img_wrap img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
      .section_intro .logo_wrap .logo_inner_wrap {
        overflow: hidden;
        margin: 0 auto;
        height: 200px;
        width: 200px;
        position: relative;
        left: 0;
        top: 0; }
        .section_intro .logo_wrap .logo_inner_wrap .img_wrap {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100px;
          height: 100px;
          margin-top: -50px;
          margin-left: -50px; }
          .section_intro .logo_wrap .logo_inner_wrap .img_wrap img {
            width: 100%;
            height: 100%;
            object-fit: contain; }
        .section_intro .logo_wrap .logo_inner_wrap svg {
          animation: rotate 50s linear infinite;
          width: 300px;
          height: 300px;
          position: absolute;
          top: calc(50% - 150px);
          left: calc(50% - 150px);
          overflow: hidden; }
          .section_intro .logo_wrap .logo_inner_wrap svg:after {
            display: block;
            content: "hello"; }
          .section_intro .logo_wrap .logo_inner_wrap svg .circle-text {
            font: 85px Montserrat;
            letter-spacing: 7px;
            font-weight: 500;
            width: 100%;
            fill: #212529; }
  @keyframes rotate {
    to {
      transform: rotate(-360deg); } } }

@media (max-width: 575.98px) {
  .section_profession .card_wrap:nth-child(1) .card_btn {
    background-color: #FF74BF; }
  .section_profession .card_wrap:nth-child(1) .card_back,
  .section_profession .card_wrap:nth-child(1) .front_top {
    background-color: rgba(255, 116, 191, 0.5); }
  .section_profession .card_wrap:nth-child(2) .card_btn {
    background-color: #FF8A7F; }
  .section_profession .card_wrap:nth-child(2) .card_back,
  .section_profession .card_wrap:nth-child(2) .front_top {
    background-color: rgba(255, 138, 127, 0.5); }
  .section_profession .card_wrap:nth-child(3) .card_btn {
    background-color: #FF9E47; }
  .section_profession .card_wrap:nth-child(3) .card_back,
  .section_profession .card_wrap:nth-child(3) .front_top {
    background-color: rgba(255, 158, 71, 0.5); }
  .section_profession .card_wrap:nth-child(4) .card_btn {
    background-color: #FF5581; }
  .section_profession .card_wrap:nth-child(4) .card_back,
  .section_profession .card_wrap:nth-child(4) .front_top {
    background-color: rgba(255, 85, 129, 0.5); }
  .section_profession .card_wrap:nth-child(5) .card_btn {
    background-color: #FF33FE; }
  .section_profession .card_wrap:nth-child(5) .card_back,
  .section_profession .card_wrap:nth-child(5) .front_top {
    background-color: rgba(255, 51, 254, 0.5); }
  .section_profession .card_wrap:nth-child(6) .card_btn {
    background-color: #45AEFF; }
  .section_profession .card_wrap:nth-child(6) .card_back,
  .section_profession .card_wrap:nth-child(6) .front_top {
    background-color: rgba(69, 174, 255, 0.5); }
  .section_profession .card {
    margin-top: 30px;
    min-height: 280px;
    position: relative;
    cursor: pointer;
    -webkit-transition: -webkit-transform 1s;
    -webkit-transform-style: preserve-3d; }
    .section_profession .card .card_side {
      border-radius: 3px;
      margin: 0px;
      padding: 0px;
      height: 100%;
      width: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); }
    .section_profession .card .card_front {
      display: flex;
      flex-direction: column;
      overflow: hidden; }
      .section_profession .card .card_front .front_top {
        flex: auto;
        padding: 20px;
        display: flex; }
        .section_profession .card .card_front .front_top > div {
          flex: 1; }
        .section_profession .card .card_front .front_top .counter_wrap {
          padding-right: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .section_profession .card .card_front .front_top .counter_wrap .count {
            line-height: .8;
            font-weight: bold;
            font-size: 72px;
            color: #FFFFFF; }
  @keyframes identifier {
    0% {
      transform: translateX(-30px); }
    80% {
      opacity: 1; }
    100% {
      opacity: 0;
      transform: translateX(0); } }
          .section_profession .card .card_front .front_top .counter_wrap .card_btn {
            display: flex;
            justify-content: flex-end;
            height: 40px;
            padding-right: 15px;
            background-position: 90% 50%;
            border-radius: 3px; }
            .section_profession .card .card_front .front_top .counter_wrap .card_btn img {
              width: 30px;
              animation: identifier 2.5s infinite; }
      .section_profession .card .card_front .front_bot {
        padding: 20px; }
        .section_profession .card .card_front .front_bot h3 {
          white-space: nowrap;
          margin-bottom: 10px; }
    .section_profession .card .card_back {
      padding: 20px;
      -webkit-transform: rotateY(180deg); }
      .section_profession .card .card_back ul {
        transform: translate(0, 0);
        padding-left: 1rem;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
    .section_profession .card.flipped {
      -webkit-transform: rotateY(180deg); } }

@media (max-width: 575.98px) {
  .section_steps .steps_list {
    padding: 0;
    margin: 0;
    list-style: none; }
    .section_steps .steps_list li + li {
      margin-top: 20px; }
    .section_steps .steps_list .list_item {
      position: relative;
      display: flex;
      align-items: center; }
      .section_steps .steps_list .list_item .item_num {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #212529;
        font-size: 20px; }
      .section_steps .steps_list .list_item .item_text {
        margin-left: 15px; } }

@media (max-width: 575.98px) {
  .section_advantages {
    padding: 0; } }

@media (max-width: 575.98px) {
  .section_search_method .list_wrap {
    margin-top: 30px;
    padding: 25px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); }
    .section_search_method .list_wrap .simple_list {
      padding-left: 26px;
      margin: 0; }
      .section_search_method .list_wrap .simple_list li {
        margin-top: 15px;
        font-size: 24px; }
      .section_search_method .list_wrap .simple_list li span {
        font-weight: 500;
        font-size: 20px; } }

@media (max-width: 575.98px) {
  .section_stat .stat_item_wrap:nth-child(1) .stut_num {
    color: #FF74BF; }
  .section_stat .stat_item_wrap:nth-child(2) .stut_num {
    color: #FF8A7F; }
  .section_stat .stat_item_wrap:nth-child(3) .stut_num {
    color: #FF9E47; }
  .section_stat .stat_item_wrap:nth-child(4) .stut_num {
    color: #FF5581; }
  .section_stat .stat_item_wrap {
    margin-top: 50px; }
    .section_stat .stat_item_wrap .stat_item {
      padding-bottom: 20px;
      border-bottom: 1px solid #333333; }
      .section_stat .stat_item_wrap .stat_item .stut_num {
        font-weight: bold;
        font-size: 72px; }
      .section_stat .stat_item_wrap .stat_item .stut_text {
        font-weight: 500;
        font-size: 24px; } }

@media (max-width: 575.98px) {
  .section_feedback form input {
    padding: 6px 16px;
    margin-top: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #212529; }
  .section_feedback form button {
    margin-top: 50px;
    background: #333333;
    border-radius: 3px;
    color: #fff;
    outline: none;
    border: none;
    padding: 12px 30px;
    width: 100%;
    text-align: left;
    font-size: 24px; } }

@media (max-width: 575.98px) {
  .section_footer .brand_label {
    font-weight: bold;
    font-size: 18px; }
  .section_footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .section_footer .contact_bar li {
    text-align: left; }
  .section_footer .menu {
    margin: 30px 0; }
    .section_footer .menu li + li {
      margin-top: 10px; }
    .section_footer .menu .menu_item a {
      font-weight: bold;
      font-size: 16px;
      color: #212529; } }
